* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #40189d;
  display: flex;
}

/************************************
Nav Bar Section
*************************************/

nav {
  background-color: #40189d;
  color: #fff;
  width: 300px;
}

nav div {
  padding: 8%;
  margin-left: 30%;
  cursor: pointer;
}
nav div:hover {
  transform: scale(1.05);
}
nav i {
  font-size: 1.5rem;
}

nav div:first-child {
  margin-top: 70px;
}

.active {
  background-color: #ddd;
  color: #40189d;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  padding-left: 20%;
  margin-left: 20%;
}

/************************************
Main List Section
*************************************/
.user {
  width: 300px;
  height: 80px;
  float: right;
  text-align: center;
  padding: 10px;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.user i {
  border: 1px solid #888;
  font-size: 2.6rem;
  background-color: #eee;
  height: 50px;
  width: 50px;
  text-align: center;
  border-radius: 50%;
  color: #888;
}

.user-name {
  font-weight: bold;
  font-size: 1.4rem;
  padding: 10px;
}

section {
  width: 100%;
  height: 100vh;
  background-color: #ddd;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.list-section {
  background-color: #fff;
  border-radius: 5px;
  margin: 20px;
  margin-top: 100px;
}

.list-section #add-btn,
.list-section #logout {
  margin: 20px 0px 10px 20px;
  padding: 10px;
  background-color: #ddd;
  border: 1px solid #eee;
  border-radius: 5px;
  font-size: 1.1rem;
  float: left;
}

.list-section #add-btn:hover,
.list-section #logout:hover {
  background-color: #eee;
  transform: scale(1.1);
  cursor: pointer;
  color: #40189d;
}

.list-section #logout {
  float: right;
  margin-right: 20px;
  background-color: #40189d;
  color: #fff;
}

.list-section #logout:hover {
  color: #f00;
  border-color: #f00;
}

.list-section a {
  text-decoration: none;
  color: black;
}

table {
  border-collapse: collapse;
  font-size: 1.1rem;
  width: 100%;
  overflow: hidden;
}

tbody,
thead,
tr {
  margin: 0px;
}

th {
  color: #5a3d9c;
  font-size: 1.2rem;
  cursor: pointer;
}

th,
td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

#edit-btn,
#delete-btn {
  border: 1px solid #eee;
  border-radius: 5px;
  background-color: #ddd;
  padding: 3px 8px;
  font-size: 1.1rem;
}

#edit-btn:hover {
  background-color: #eee;
  cursor: pointer;
  color: #40189d;
  transform: scale(1.1);
}

#delete-btn:hover {
  background-color: #eee;
  cursor: pointer;
  color: #f00;
  transform: scale(1.1);
}

#search {
  position: relative;
  left: 15%;
  top: 80px;
  font-size: 1.3rem;
  border-radius: 10px;
  outline: none;
  border: 1px solid #ddd;
  padding: 10px;
  width: 65%;
}

.fa-arrow-up,
.fa-arrow-down {
  font-size: 1rem;
  margin-left: 10px;
  transition: 0.2s linear;
}

/************************************
Add / Update Section
*************************************/
.forms {
  display: none;
  position: absolute;
  margin-top: 0px;
  top: 12%;
  left: 40%;
  width: 30%;
}

.cancle {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 1.8rem;
}

.cancle:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.btns {
  margin-left: 40%;
  width: 20%;
}

.btns button {
  padding: 10px;
  background-color: #40189d;
  border: 1px solid #eee;
  color: #fff;
  border-radius: 5px;
  font-size: 1.1rem;
}

.btns button:hover {
  background-color: #5a3d9c;
  transform: scale(1.1);
  cursor: pointer;
}

.btns span {
  margin: 0px 10px;
  font-size: 1.3rem;
}

.btns button:disabled {
  background-color: #867c9e;
  cursor: not-allowed;
}

.btns button:disabled:hover {
  transform: scale(1);
}

@media (max-height: 600px) {
  section {
    height: 140vh;
  }
}
